{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %} Home Page {% endblock %}
    </title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/glyphicons.css" %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/app.scss" %}"/>
    {% endcompress %}
</head>
<body>

    <header>
        {% include 'base/header.html' %}
    </header>
    <div class="container">
        <div class="row">
            <div id="main" class="col-lg-9 col-md-12">
                {% block content %} Content Here{% endblock %}
            </div>
            <div id="sidebar" class="col-lg-3">
                {% include 'base/sidebar.html' %}
            </div>
        </div>
    </div>

    <footer>
        {% include 'base/footer.html' %}
    </footer>

</body>
</html>

<script data-main="{% static 'js/app.js' %}" src="{% static 'js/require.js' %}"></script>