{% extends 'base/sidebar_right.html' %}

{% load static cms_tags %}

{% block title %} {{ post.title }}{% endblock %}
{% block meta_description %} {{ post.intro }}{% endblock %}
{% block content-inner %}
<div class="post-item">
    <h1 class="post-title">{% render_model post "title"  %}</h1>
    <div class="post-user">ngày đăng {{ post.created_at|date:"d/m/Y" }}
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:blog_post_change' post.id %}" class="post-tool" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
    </div>

    {% if post.intro %}
    <div class="post-intro">
        <p>
            {% autoescape off %}
                {% firstof post.intro '' %}
            {% endautoescape %}
        </p>
    </div>
    {% endif %}

    <div class="post-content">
        {% autoescape off %}
            {% firstof post.content '' %}
        {% endautoescape %}
    </div>
    <div class="post-tags">
     Tags:
     {% for tag in post_tags %}
        <a href="{% page_url request.current_page %}?tag={{ tag.slug }}"><span class="tag-name small-tag">{{ tag.name }}</span></a>
     {% endfor %}
    </div>
</div>
{% endblock %}
