$main-border-color: #e6e6e6;
$focus-border-color: #bfbfbf;
$link-color-normal: #009999;
$link-color-hover: #008080;
a {
    color: #444;
    text-decoration: none;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

.row {
    margin:0px;
}


.pagination .page-item.active a.page-link{
    color: $link-color-normal;
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    border-color: #ddd;
}

.pagination .page-item {
    a {
        color: $link-color-normal;

        &hover {
            color: $link-color-hover;
        }
    }
}


header, footer {
    height: 80px;
    padding: 20px 0px;
    border-bottom: 1px solid $main-border-color;

    li.nav-item.active {
        font-weight: bold;
        .nav-link {
            color: $link-color-hover;
        }
    }

    .nav-link {
        font-size: 18px;
        &:hover {
            color: $link-color-hover;
        }
    }
}

header {
    box-shadow: 0px 1px 8px #e6e6e6;
    margin-bottom: 25px;
}

footer {
    border: none;
    border-top: 1px solid $main-border-color;

    span.nav-link {
        font-size: 16px;
    }
}

.breadcrumb-area {
    list-style: none;
    padding: 0px;
    border-bottom: 1px  dashed $main-border-color;
    width: 100%;
    margin-left: 15px;

    li {
        float: left;
        a, span {
            display: inline-block;
            padding: 10px;
        }
    }
}

#main {
    min-height: 750px;

    .post-item {
        border-bottom: 1px dashed $main-border-color;
        padding: 0px;
        padding-bottom: 30px;
        margin-bottom: 15px;

        &:last-child {
            border: none;
        }
    }
    .post-title {
        font-size: 32px;
        color: #404040;
    }
    .post-user {
        font-style: italic;
        font-size: 15px;
        margin-bottom: 10px;
        color: #b3b3b3;

        .name {
            color: #666666;
        }
        .post-tool {
             color: #b3b3b3;
             margin-left: 10px;
             &:hover {
                color: black;
             }
        }

    }
    .post-image {
        height: 200px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: cover;

        border: 1px solid red1;
    }
    .post-intro {
        text-align: justify;
        font-size: 18px;

        .detail-link {
            font-size: 13px;
            text-transform: uppercase;
            color: green;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .post-content {
        font-family: "Noto Serif", "Times New Roman", serif;
        font-size: 20px;
    }
}

#main > .row {
    min-height: 800px;
}

#sidebar {
   border: 1px solid red1;
   padding: 0px;
   padding: 0px 0px 15px 0px;;

   .widget {
        margin-bottom: 20px;
        padding-bottom: 10px;
        &:last-child {
            border: none;
        }
        .search-box {
            padding: 5px;
            width: 100%;
            border: 1px solid $main-border-color;
            border-shadow: none;

            &:focus {
                box-shadow: none;
                outline-style:none;
                border: 1px solid $focus-border-color;
            }
        }

        .header {
            text-transform: uppercase;
            font-size: 17px;
            margin: 10px 0px;
        }
        .item {
            margin-bottom: 10px;
            font-size: 16px;

            a {
                color: $link-color-normal;
                &:hover {
                    color: $link-color-hover;
                }
            }
        }
   }
}

.post-tags {
        .tag-name {
            border: 1px solid #b3b3b3;
            padding: 1px 3px;
            padding: 1px 3px;
            margin-bottom: 5px;
            display: inline-block;
            border-radius: 6px;
            box-sizing: border-box;

            &:hover{
                color: white;
                background-color: $link-color-normal;
            }
        }

        .small-tag {
            font-size: 14px;

        }
        .normal-tag {
            font-size: 17px;

        }
        .medium-tag {
            font-size: 19px;
            padding: 2px 5px;
            font-weight: 500;
        }
        .big-tag {
            font-size: 21px;
            padding: 3px 6px;
            font-weight: 600;
        }
        .huge-tag {
            font-size: 24px;
            padding: 4px 7px;
            font-weight: 700;
        }
   }